App/build/
App/.idea/libraries/YouTubeAndroidPlayerApi.xml
App/.idea/libraries/achartengine_1_1_0.xml
App/.idea/libraries/appcompat_v7_19_0_1.xml
App/.idea/libraries/library_0_4_0.xml
App/.idea/libraries/library_0_9_9.xml
App/.idea/libraries/library_1_7_3.xml
App/.idea/libraries/library_2_4_0.xml
App/.idea/libraries/library_2_6_0.xml
App/.idea/libraries/support_v4_19_0_1.xml
App/.gradle
/local.properties
/.idea/workspace.xml
.DS_Store

*.sublime-project
*.sublime-workspace